{% extends "base.html.twig" %}

{% block body %}
    <!-- Navbar -->
    {{ include('flashcards/navbar.html.twig') }}

    <!-- Navigation Buttons -->
    <div class="container mt-4">
        <p>
            <a class="btn btn-primary mx-2" href="{{ path('homepage') }}">Home</a>
            <a class="btn btn-primary mx-2" href="{{ path('flashcards_add') }}">Add Flashcard</a>
        </p>

        <!-- Main Content -->
        <div class="container mt-4">
            <h1 class="text-center">All Flashcards!</h1>
            <div class="row">
                {% for flashcard in flashcards %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ flashcard.topic }}</h5>
                                <p class="card-text">{{ flashcard.answer }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">No flashcards available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
